:root {
  /*  Primary Colors  */
  --very-dark-blue: #090b1a;
  --dark-desaturated-blue: #1b1938;
  --soft-violet: #aa5cdb;
  /*  Neutral Colors  */
  --white: white;
  --slightly-transparent-white: rgba(255, 255, 255, 0.75);
  --slightly-transparent-white-stat: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--white);
  background: var(--very-dark-blue);
  font-size: 15px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
  background: var(--dark-desaturated-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}

.card .img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 50%;
}

.card .img .overlay {
  background: var(--soft-violet);
  opacity: 0.5;
}

.card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .text-info {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.card .text-info h1 {
  margin-bottom: 16px;
}

.card .text-info p {
  margin-bottom: 16px;
  font-size: .7rem;
}

.card .text-info .accent {
  color: var(--soft-violet);
}

.card .text-info .secondary {
  color: var(--slightly-transparent-white);
}

.card .text-info .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .text-info .stats p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .text-info .stats p span {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: .7rem;
}

.img-fluid {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*      Responsive      */
@media screen and (max-width: 375px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card .text-info h1 {
    text-align: center;
  }
  .card .text-info p {
    text-align: center;
  }
  .card .text-info .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 24px;
    text-align: center;
  }
  .card .text-info .stats p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card .text-info .stats p span {
    margin-top: 8px;
  }
}
/*# sourceMappingURL=style.css.map */